.register-page {
  background-image: url("https://avatars.mds.yandex.net/i?id=c41c8bc934e74f3b01a8457941f8eb4f_l-4779391-images-thumbs&n=13");
  background-position: center;
  background-size: cover;
}
.asosiy {
  background-image: url("https://cdn1.ozone.ru/s3/multimedia-h/6450210365.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
